<app-header-body title="Gestion des offres de travail"></app-header-body>

<div class="container-fluid mt--7">
 <div class="row">
  <div class="col">
   <div class="card shadow">
    <div class="card-header border-0 d-flex justify-content-between align-items-center">
     <div class="d-flex justify-content-between">
      <h3 class="mb-0">
       <i class="fa fa-briefcase text-purple text-md" aria-hidden="true"></i>
       Liste des offres de travail
      </h3>
     </div>
     <a class="btn btn-primary p-2" routerLink="/jobs/add">
      <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
     </a>
    </div>
    <div class="table-responsive">
     <table class="table align-items-center table-flush">
     <thead class="thead-light">
      <tr>
       <th scope="col">Titre</th>
       <th scope="col">Département</th>
       <th scope="col">Description</th>
       <th scope="col">Statut</th>
       <th scope="col"></th>
      </tr>
     </thead>
     <tbody>
      <tr *ngFor="let job of jobs">
       <th scope="row">
        <div class="media align-items-center">
         {{job.title}}
        </div>
       </th>
       <td>
        <div class="align-items-center">
         {{job.departement}}
        </div>
       </td>
       <td>
        <div class="align-items-center">
         {{job.description}}
        </div>
       </td>
       <td>
        <div class="align-items-center">
         <ng-container *ngIf="job.isActive; else inactive">
          <i class="fa fa-circle text-success"></i>
         </ng-container>
         <ng-template #inactive>
          <i class="fa fa-circle text-red"></i>
         </ng-template>
        </div>
       </td>
       <td>
        <div ngbDropdown placement="bottom-right">
          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" [routerLink]="['/jobs/edit', job._id]">
              <i class="fas fa-edit"></i> Modifier
            </a>
            <a class="dropdown-item" (click)="deleteJob(job._id)">
              <i class="fas fa-trash-alt"></i> Supprimer
            </a>
          </div>
        </div>
       </td>
      </tr>
     </tbody>
    </table>
    </div>
   </div>
   <div class="card-footer py-4" *ngIf="totalItems > itemsPerPage">
    <nav aria-label="Page navigation">
     <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="itemsPerPage"
      (pageChange)="onPageChange($event)" aria-label="Default pagination">
      <ng-template ngbPaginationNumber="true" let-p> {{p}} </ng-template>
     </ngb-pagination>
    </nav>
   </div>
  </div>
 </div>
</div>
