<app-header-body title="Modifier un métier"></app-header-body>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Modifier un métier</h3>
        </div>
        <form *ngIf="jobForm" [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="card-body">
          <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title"
              [ngClass]="{ 'is-invalid': submitted && f.title.errors }" class="form-control"
              placeholder="Titre du métier">
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <small *ngIf="f.title.errors.required">Le titre est requis.</small>
            </div>
          </div>

          <div class="form-group">
            <label>Département</label>

            <select formControlName="departement" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && userForm.get('departement').errors }">
              <option *ngFor="let departement of departements" [value]="departement.value">
                {{ departement?.label }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }" class="form-control"
              placeholder="Description du métier"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <small *ngIf="f.description.errors.required">La description est requise.</small>
            </div>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <small *ngIf="f.description.errors.minlength">La description doit contenir au moins 10 caractères.</small>
            </div>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <small *ngIf="f.description.errors.maxlength">La description ne doit pas dépasser 300 caractères.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="requirements">Exigences</label>
            <textarea id="requirements" formControlName="requirements"
              class="form-control"
              placeholder="Exigences du métier"></textarea>
          </div>

          <div class="form-group">
            <label for="requiredSkills">Compétences requises</label>
            <div class="pl-lg-4">
              <ng-select [items]="skills"
                bindLabel="title"
                bindValue="_id"
                [multiple]="true"
                [closeOnSelect]="false"
                formControlName="requiredSkills"
                [compareWith]="compareSkills"
                >
              </ng-select>
            </div>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" id="isActive" formControlName="isActive" class="form-check-input">
            <label for="isActive" class="form-check-label">Actif</label>
          </div>

          <button type="submit" [disabled]="isLoading" class="btn btn-primary">{{isLoading ? 'Enregistrement...' : 'Enregistrer'}}</button>
          <button type="button" class="btn btn-secondary" routerLink="/jobs">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>
