/* You can add global styles to this file, and also import other style files */
.bg-success {
  background-color: #00BF16 !important;
}

.text-success {
  color: #00BF16 !important;
}

.text-md {
  font-size: 1.25rem !important;
}

.bg-gradient-success {
  background: linear-gradient(87deg, #00BF16 0, #00BF16 100%) !important;
}