<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Bonjour {{ userForm.get('firstName')?.value.toUpperCase() ||"" }}</h1>
        <p class="text-white mt-0 mb-5">C'est ici que vous pouvez modifier vos informations personnelles et gérer vos projets</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-5 pb-0 pb-md-5">
          
        </div>
        <div class="card-body pt-0 pt-md-4">
         
          <div class="text-center mt-md-5">
            <h3>
              {{ userForm.get('firstName').value }} {{ userForm.get('lastName').value }}<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ userForm.get('departement').value }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{ userForm.get('position').value }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon compte</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <h6 class="heading-small text-muted mb-4">Informations utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Adresse email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" formControlName="email">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-role">Role</label>
                    <select id="input-role" class="form-control form-control-alternative" formControlName="role">
                      <option value="employee">Employee</option>
                      <option value="manager">Manager</option>
                      <option value="hr">HR</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Prénom</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" formControlName="firstName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nom</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" formControlName="lastName">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-departement">Departement</label>
                    <input type="text" id="input-departement" class="form-control form-control-alternative" formControlName="departement">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-position">Position</label>
                    <input type="text" id="input-position" class="form-control form-control-alternative" formControlName="position">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-manager">Manager</label>
                    <ng-select [items]="managers"
                            bindValue="_id"
                            formControlName="manager"
                            [compareWith]="compareManagers"
                            (change)="onManagerChange($event)">
                            <ng-template ng-label-tmp let-item="item">
                              <div class="custom-label">
                                <!-- <img [src]="item?.profile?.avatar" alt="Avatar" class="avatar"> -->
                                {{ item?.profile?.firstName }} {{ item?.profile?.lastName }}
                              </div>  
                              
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                              <div class="custom-option">
                                <!-- <img [src]="item?.profile?.avatar" alt="Avatar" class="avatar"> -->
                                {{ item?.profile?.firstName }} {{ item?.profile?.lastName }}
                              </div>  
                            </ng-template>
                  </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Skills -->
            <h6 class="heading-small text-muted mb-4">Compétences</h6>
            <div class="pl-lg-4">
              <ng-select [items]="skills"
                bindLabel="title"
                bindValue="_id"
                [multiple]="true"
                [closeOnSelect]="false"
                formControlName="skills"
                [compareWith]="compareSkills"
                >
              </ng-select>
            </div>
            <hr class="my-4" />
            <!-- Experience -->
            <h6 class="heading-small text-muted mb-4">Expérience</h6>
            <div class="pl-lg-4">
              <div formArrayName="experience">
                <div class="position-relative border border-1 p-2 mb-3 rounded bg-white" *ngFor="let exp of experienceControls; let i = index" [formGroupName]="i">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-title-{{i}}">Titre</label>
                        <input type="text" id="input-title-{{i}}" class="form-control form-control-alternative" formControlName="title">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-company-{{i}}">Société</label>
                        <input type="text" id="input-company-{{i}}" class="form-control form-control-alternative" formControlName="company">
                      </div>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-duration-{{i}}">Durée</label>
                        <input type="text" id="input-duration-{{i}}" class="form-control form-control-alternative" formControlName="duration">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-description-{{i}}">Description</label>
                        <textarea id="input-description-{{i}}" class="form-control form-control-alternative" formControlName="description"></textarea>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-sm btn-danger position-absolute bottom-2 right-2 mt-3" type="button" (click)="removeExperience(i)">
                    <i class="fa fa-trash text-white cursor-pointer float-right"></i>
                  </button>
                </div>
              </div>
              <button type="button" class="btn btn-sm btn-primary mt-3" (click)="addExperience()">Ajouter une expérience</button>
            </div>
            <hr class="my-4" />
            <button type="submit" class="btn btn-primary float-right">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
